.page-title {
  font-family: "Roboto", sans-serif;
  background-color: #2e2f42;
  color: hsl(0, 100%, 100%);
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  line-height: 1.333;
  letter-spacing: 1px;
}
